<h1>Billboard Lists</h1>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
<p><%= link_to(image_tag("hot100.jpg"), @lists[0]) %></p>


<p><%= link_to(image_tag("toppop.jpg"), @lists[1]) %></p>


<p><%= link_to(image_tag("social50.jpg"), @lists[2]) %><p>
</div>
</div>
</div>



