<h1>Billboard Artists</h1>

<div class="ui inverted segment">
  <div class="ui inverted relaxed divided list">
    <div class="item">
      <div class="content">
      <% @artists.each do |artist| %>
      <hr />
      <%= link_to artist.name, artist, class: "header" %>
        <% end %> 
      </div>
    </div>
  </div>
 </div> 


