<nav>
  <div class="ui inverted menu color: black">
    <a class="active item">
    <%= link_to 'Home', root_path, class: "item"  %>
    </a>
    <a>
    <%= link_to "Billboard Lists", lists_path, class: "item" %>
    </a>
    <a>
    <%= link_to "Artists",  artists_path, class: "item" %>
    </a>
    </div>